{% extends "base.html.twig" %}

{% block body %}
	<div style='background-color:#EEBBC1;width:100%;text-align:center;'>
	<h3 style="padding:50px;text-align:center;">PET&ME - L’adoption change autant la vie de l’animal que la vôtre</h2>
	<hr style="width:50%;margin-left:25%;"/>


	<img src="media/adopter.jpg" style="width:40%;margin-top:30px;border-radius:5%;position:relative;bottom:0;"/>

	

	<h2 style="text-align:center;font-size:150px;transform: rotate(180deg);">^</h2>
	<h2 style="padding:50px;text-align:center;">Afficher la liste des animaux à adopter</h2>
    <div class="container-fluid">
	<form style="margin-left:47%;" class="d-flex" action="/search">
		<button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher</button>
	</form>
	</br></br></br>
    <div/>
	<div/>
{% endblock %}
